:root {
  --contrast: 100%;
  --hue: 0deg;
}

main {
  align-items: center;
  background-color: #1a1d21;
  color: #333;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1160px;
}

label {
  color: white;
  margin-right: 4px;
}

button {
  background-color: #ffde03;
  border: none;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 0.5rem;
}

#display,
#palette,
#tools {
  width: 910px;
}

#display {
  height: 910px;
}

#palette {
  background: #161616;
  display: flex;
}

/* Scope variables to only be for direct 'div' children of another 'div.' */
#palette div {
  --0: #fb0d1c;
  --1: #2afd2f;
  --2: #1fb4fb;
  --3: #fdad2a;
  --4: #f828fc;

  height: 182px;
  width: 182px;
}

#tools {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0;
}

.grayscale {
  filter: grayscale(100%);
}

.tool-adjustments {
  filter: contrast(var(--contrast)) hue-rotate(var(--hue));
}
